#menuBG {
    width: 400px;
    height: 470px;
    margin: 30px auto;
    }
#frmMenu {
    width: 400px;
    height: 200px;
    }
   
#total Price {
    width: 200px;
    height: 190px;
    margin: 0 auto;
    ;float: Right;
    }

.left {
    width: 200px;
    height: 200px;
    float: left;
    }

.right  {    
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: right;
    }

#showText {
    width: 200px;
    height: 190px;
    margin: 0px auto;
    float: left;
    }

#cart {
    top: 0;margin: 0 auto;
    width: 400px;
    height: 200px;
    }

#btnorder {
    Margin: 100px 100px 100px 100px;
    width:100px;
    height:100px;
    }

H1 {
    background-color: #5958c5;
    }

